/* Media desk selector styles */
.field-widget-media-desk-selector .item-list{
  background-color: #EEE;
  padding: 8px;
  margin-bottom: 8px;
}

.field-widget-media-desk-selector .item-list ul{
  margin-left: 0px;
}

.field-widget-media-desk-selector .item-list ul li{
  list-style: none;
  display: inline-block;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin-right: 6px;
}

.field-widget-media-desk-selector li .media-widget{
  text-align: center;
  min-width: 62px;
}

.field-widget-media-desk-selector li .media-widget .preview{
  display: block;
}

.field-widget-media-desk-selector li .media-widget .preview .media-item{
  margin-right: 0px;
}

.field-widget-media-desk-selector li .media-widget .edit{
  background-image: url('icons/edit.png');
  border: 0px;
  font-size: 0px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px;
  padding: 0px;
}

.field-widget-media-desk-selector li .media-widget .insert{
  background-image: url('icons/insert.png');
  border: 0px;
  border-radius: 0px;
  font-size: 0px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px;
  padding: 0px;
}

.field-widget-media-desk-selector li .media-widget .view-mode-list{
  display: none;
  position: absolute;
  background-color: #FFF;
  border: 1px solid #999;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.65);
  box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.65);
}

.field-widget-media-desk-selector li .media-widget .insert-wysiwyg-image:hover{
  background-color: #FEC;
}

.field-widget-media-desk-selector li .media-widget .insert-wysiwyg-image{
  display: block;
  background-image: none;
  background-color: #FFF;
  cursor: pointer;
  font-size: inherit;
  width: 100%;
  height: inherit;
  padding: 2px 16px 2px 16px;
  text-align: left;
  border-bottom: 1px solid #CCC;
}

.field-widget-media-desk-selector li .media-widget .media-filename{
  display: none;
}

.field-widget-media-desk-selector li .media-widget .media-item{
  background: none;
  border: 0px;
  padding: 4px;
  width: auto;
}

.field-widget-media-desk-selector li .media-widget .media-item img{
  height: 75px;
  width: auto;
  margin-bottom: 0px;
}

.field-widget-media-desk-selector li .media-widget .media-item:hover{
  border: 0px;
}

.field-widget-media-desk-selector li .media-widget .media-thumbnail{
  height: 75px;
}

.field-widget-media-desk-selector li .media-widget input{
  background-image: url('icons/delete.png');
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 0px;
  padding: 0px;
}

.field-widget-media-desk-selector li .media-widget .preview .media-item{
  padding: 0px 6px;
}

/* Media desk image styles */
.field-widget-media-desk-image{
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 9px 0px;
}

.field-widget-media-desk-image .media-widget{
  background-color: #FFF;
  border: 1px solid #CCC;
  display: inline-block;
  padding: 8px 14px;
  text-align: center;
}

.field-widget-media-desk-image .media-widget a.button{
  width: 18px;
  height: 18px;
  border: 0;
  display: inline-block;
  margin: 0px 7px;
  font-size: 0px;
  padding: 0px;
}

.field-widget-media-desk-image .media-widget a.launcher{
  background-image: url('icons/add.png');
}

.field-widget-media-desk-image .media-widget a.edit{
  background-image: url('icons/edit.png');
}

.field-widget-media-desk-image .media-widget a.remove{
  background-image: url('icons/delete.png');
}

.field-widget-media-desk-image .media-widget .ui-state-active{
  background-color: #FE7 !important;
}

.field-widget-media-desk-image .media-widget .form-item{
  margin-bottom: 0px;
  padding: 0px 0px 8px 0px;
  font-size: 10px;
}

.field-widget-media-desk-image .media-widget .form-item label{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-widget-media-desk-image .media-widget .preview{
  display: block !important;
  background-color: #EEE;
  border: 1px solid #CCC;
  margin: auto;
}

.field-widget-media-desk-image .media-widget .preview .media-item{
  border: 0px;
  width: auto;
  background: none;
  padding: 0px;
  margin-right: 0px;
}

.field-widget-media-desk-image .media-widget .media-item .media-thumbnail img{
  height: 75px;
  width: 100%;
  margin: 0px;
}

.field-widget-media-desk-image .media-widget .media-item .media-thumbnail .label-wrapper{
  display: none;
}
